{{template "header" .}}
<center class="h-100">
	<div class="p-0 w-100 h-100 position-absolute"
	     style="background-image: url('/static/img/20161223_150024.jpg');
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center center;
		    z-index: -1;"></div>
	<div class="container-fluid h-100 p-0" id="index-content">
		<div id="title">
			<h2 style="font-family: 'Lobster Two', cursive;" >Beelden</h2>
			<h4>Willem van Beek</h4>
		</div>
		<!--<img class="img-fluid w-100 h-auto mh-100" src="/static/img/20161223_150024.jpg"/>-->
	</div>
</center>

<link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/res/css/index/main.css">
{{template "footer" .}}
