{{template "header" .}}

<link rel="stylesheet" type="text/css" href="/res/css/opt1/index.css">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

<div class="wvb-background"></div>
<div class="container-fluid h-100 w-100 p-0">
	<div class="container-fluid d-flex flex-column align-items-center h-100 p-0">
		<div class="jumbotron jumbotron-fluid bg-dark text-light my-auto mh-100 wvb-jumbotron">
			<div class="container">
				<div class="row">
					<div style="font-family: 'Kaushan Script', cursive;" class="col display-4">Beelden</div>
					<div class="w-100"></div>
					<div class="col"><h4>Willem van Beek</h4></div>
				</div>
				<hr class="my-4 bg-light">
			</div>
		</div>

	</div>
</div>

<div class="w-100 vh-100">
	<div class="container"></div>
</div>

{{template "footer" .}}
