{{define "content"}}
<div class="container-fluid overflow-auto position-relative bg-white">
	<div class="container">
		{{/*
			admin/edit?id=
				submit method="get"
				display form method="post"

			admin/delete
				submit method="get"
			admin/add
				display form method="post"
		*/}}
		<ul class="list-unstyled row">
		{{range $index, $data := index $.Content}}
		<li class="d-flex mb-1 mt-1">
			<div class="media border flex-grow">
				<img class="mr-3 ml-1 my-auto" style="object-fit: cover;" height="64" width="64" src="{{index $data 4}}"  alt="{{index $data 1}}">
				<div class="media-body mb-1">
					<h5 class="mt-0 mb-1">{{index $data 1}}</h5>
					{{index $data 3}}
				</div>
			</div>
			<div class="btn-group ml-2 my-auto">
				<a type="button" class="btn btn-primary" href="/admin/edit?id={{index $data 0}}">Edit</a>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wvb-delete-modal-{{index $data 0}}">Delete</button>
			</div>
			<div class="modal fade" id="wvb-delete-modal-{{index $data 0}}" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Delete</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Delete &quot;{{index $data 1}}&quot;?</p>
						</div>
						<div class="modal-footer">
							<form method="post" id="wvb-del-form-{{index $data 0}}">
								<input type="hidden" name="action" value="delete">
								<input type="hidden" name="id" value="{{index $data 0}}">
							</form>
							<input class="btn btn-primary" type="submit" value="Ja" form="wvb-del-form-{{index $data 0}}">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Nee</button>
						</div>
					</div>
				</div>
			</div>
		</li>
		{{end}}
		<li class="d-flex w-100 mt-4">
			<a class="mx-auto btn btn-primary" type="button" href="/admin/add">Add &plus;</a>
		</li>
		</ul>
	</div>
</div>
{{end}}
