:root {
	--dark: #000;
	--white: #fff;
	--background-color: #1f5407;
	/*--background-color: #404040;*/
}

.background {
	/*background-color: #1f5407;*/
	background-color: var(--background-color);
}

.foreground {
	fill: var(--white);
	color: var(--white);
}
.foreground:hover {
	color: var(--white);
}

svg {
	fill: #fff;
}

.position-fixed {
	position: fixed;
	/*width: 100%;*/
}

.highlight-hover:hover {
	background-color: var(--dark);
}

.no-outline {
	outline: none;
}

#menu-button {
	padding: 5px;
	border: 1px solid;
	border-color: var(--white);
}

#menu {
	background-color: var(--background-color);
	color: var(--white);
}

.menu-item {
	color: var(--white);
}

.menu-item:hover {
	background-color: var(--dark);
	color: var(--white);
}
