body {
	background-color: var(--background-color);
	color: var(--white);
}

#img-home {
	align-self: center;
	max-width: 100%;
	min-width: 50%;
	width: 50em;
}

#index-content {
	padding-top: 2em;
}

#title {
	padding-bottom: 2em;
}
