body {
	background-color: var(--background-color);
	color: var(--white);
}

#img-home {
	align-self: center;
	max-width: 100%;
	min-width: 50%;
	width: 50em;
}

#index-content {
	padding-top: 2em;
}

#title {
	padding-bottom: 2em;
}

.wvb-background {
	background-image: url("/static/img/20161223_150024.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
