.wvb-img {
	object-fit: cover;
}

.wvb-card {
	bottom: 0px;
	background-color: rgba(40, 40, 40, .75);
}

.wvb-modal-dialog {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.wvb-transparent {
	background-color: rgba(0, 0, 0, 0);
}

.wvb-modal {
	background-color: rgba(0, 0, 0, .75);
}

.grid-sizer,
.grid-item {
	width: 100%;
}

@media (min-width: 768px) {
	.grid-sizer {
		width: 50%;
	}
}

@media (min-width: 1080px) {
	.grid-sizer {
		width: 33.333%;
	}
}

/* colcade /*
.grid-col {
	float: left;
	width: 100%;
}

.grid-col--2, .grid-col--3 {
	display: none;
}


.grid:after {
	display: block;
	content: '';
	clear: both;
}

.grid-item {
	width: 100%;
	max-width: 100% !important;
}

.grid-item a div img {
	display: block;
	width: 100%;
}

@media ( min-width: 786px ) {
	.grid-col {
		width: 50%;
	}
	.grid-col--2 {
		display: block;
	}
}

@media ( min-width: 1080px ) {
	.grid-col {
		width: 33.333%;
	}
	.grid-col--3 {
		display: block;
	}
}
*/
