.wvb-container {
	max-height: 100vh;
}

.wvb-background {
	position: absolute;
	background-image: url("/static/img/20161223_150024_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: -1;

	/*filter: blur(4px);*/
	/*filter: grayscale(100%) brightness(35%);*/
}

.wvb-jumbotron {
	opacity: .85;
	width: 100%;
	/*filter: drop-shadow(8px 8px 10px black);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	left: 15px;
	right: 15px;
	*/
}


.wvb-intro {
	height: 4rem;
	margin-top: -4rem;
}
