#wvb-navbar {
	width: 100%;
	height: auto;
	border-bottom: 0.3em solid;

	padding: 0.5em 1em;
}

.wvb-navbar-item {
	text-decoration: none;
	color: var(--gray);
	padding: 0.5em 0.5em;
}

.wvb-navbar-item:hover {
	text-decoration: none;
	color: #fff;
}

.wvb-spacer {
	height: 4rem;
}
.wvb-spacer-d-none {
	display: none;
}
