{{define "content"}}
<link rel="stylesheet" type="text/css" href="/css/main/beelden.css">

<div class="container-fluid overflow-auto position-relative p-0">
	<div class="container bg-white">
		<div class="grid">
			<!-- col-md-6 col-lg-4 col-12 -->
			<div class="grid-sizer"></div>
			{{range $index, $src := index $.SrcPaths}}
			<div class="grid-item border-0 rounded-0 m-0 p-1 col-md-6 col-lg-4 col-12">
				<a data-toggle="modal"
					data-target="#wvb-img-modal-{{$index}}"
					href="{{$src}}">
					<img class="img-fluid m-auto"
					     src="{{$src}}" alt="img{{$index}}">
				</a>
			</div>

			<div class="modal fade wvb-modal" id="wvb-img-modal-{{$index}}" role="dialog">
				<div class="modal-dialog wvb-modal-dialog mw-100 m-1 m-md-3 wvb-transparent" role="document">
					<div class="modal-content h-100 wvb-transparent border-0">
						<div class="modal-header border-0 p-1 mb-2 mr-2 wvb-transparent">
							<button type="button" class="close text-white" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>

						<div class="modal-body h-100 overflow-hidden p-0 d-block">
							<div class="h-100 m-auto d-block">
								<img class="mh-100 img-fluid m-auto d-block"
								     src="{{$src}}" alt="img{{$index}}">
							</div>
						</div>
					</div>
				</div>
			</div>
			{{end}}
		</div>
	</div>
</div>

<script src="/js/masonry.pkgd.js"></script>
<script src="/js/imagesloaded.pkgd.js"></script>
<!--<script src="/js/colcade.js"></script>-->
<script src="/js/main/beelden.js"></script>
{{end}}
