{{define "header"}}
<!DOCTYPE html>
<html lang="nl" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/css/main/wvb.css">

		<title>{{.Title}}</title>
	</head>

	<body class="bg-dark h-100">
		<div class="position-absolute wvb-top-0 wvb-bottom-0 wvb-left-0 wvb-right-0 overflow-hidden d-flex flex-column flex-nowrap">
{{end}}
