{{define "content"}}
{{template "header" .}}

<link rel="stylesheet" type="text/css" href="/css/main/index.css">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

<script src="/js/main/index.js"></script>

<div class="wvb-background w-100 h-100 position-absolute"></div>
<div class="container-fluid overflow-auto position-relative row m-0 p-0 h-100 wvb-smooth-scroll" id="wvb-root" data-spy="scroll" data-target="#wvb-navbar" data-offset="0">
	<div class="container-fluid p-0 h-100">
		<div class="jumbotron jumbotron-fluid bg-dark text-white wvb-jumbotron mt-5">
			<div class="container">
				<div class="row">
					<div style="font-family: 'Kaushan Script', cursive;" class="col display-4">Beelden</div>
					<div class="w-100"></div>
					<div class="col"><h4>Willem van Beek</h4></div>
				</div>
				<hr class="my-4 bg-light">
			</div>
		</div>

	</div>

	<div class="pt-4 col-12 bg-dark overflow-hidden" id="introductie">
		<div class="container py-5">
			<div class="row">
				<div class="col-md-7 mh-100">
					<div class="d-flex flex-column h-100">
						<div class="my-auto">
							<p class="text-white">
							Willem van Beek 7 januari 1954
							</p>
						</div>
						<div>
							<p class="text-white">
							Geboren in Den Haag als derde zoon van beeldhouwer Karl van Beek.
							Niet storend belast door het genetisch materiaal ben ook ik
							uiteindelijk verder gegaan als beeldhouwer en dat met groot
							genoegen.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<img src="/static/img/hand_s.png" class="rounded border img-fluid mb-3">
				</div>
			</div>
			<p class="text-white p-0 m-0">
			Gedurende mijn werk als techneut was ik tussen de bedrijven door bezig
			met het maken van allerlei beeldjes en ontwerpen die dan hun weg naar
			klanten wisten te vinden.

			Op dat moment nog niet op professionele basis maar gewoon omdat ik het kon
			en het leuk vond om te doen.

			Nu staan er dus her en der over de aardbol kleine beeldjes,
			herinneringen, van en aan mij.
			Bij tijd en wijle een leuke gedachte. <br>
			</p>

			<div class="row my-4">
				<div class="col-md-9 order-2 d-flex">
					<div class="my-auto">
						<p class="text-white">
						Na een loopbaan als scheepswerktuigkundige en een aantal jaren als
						adviseur gewerkt te hebben besloot ik om definitief als beeldhouwer
						verder te gaan. <br><br>

						Op dit moment werk ik met diverse materialen, zoals steen, hout en staal.
						Eigenlijk is al het materiaal wel tot een idee om te vormen.
						Een afbeelding van een mens maken zonder een mens te willen kopiëren,
						het vereenvoudigen van een torso, geen of in ieder geval zo weinig mogelijk,
						details zonder herkenbaarheid in te leveren is een terugkerende uitdaging.

						</p>
					</div>
				</div>
				<div class="col-md-3 order-1 d-flex">
					<div class="m-auto pb-3">
						<img src="/static/img/portrait.png" class="rounded border img-fluid">
					</div>
				</div>
			</div>

			<p class="text-white">
			Het pad van abstract werk is de nieuwe uitdaging.
			Vormen creëren die alleen een vorm zijn is voor mij een herhalende ontdekking.
			Een beeld maken, een vorm tevoorschijn halen waarvan er nog geen is gemaakt geeft keer op
			keer plezier en voldoening. <br><br>

			Sinds 2009 doe ik af en toe een expositie.
			Het verkochte werk staat bij diverse particulieren en bedrijven.<br>
			</p>
		</div>
	</div>

</div>

{{template "footer" .}}
{{end}}
