{{define "content"}}

<link rel="stylesheet" type="text/css" href="/css/main/index.css">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

<div class="wvb-background"></div>
<div class="container-fluid h-100 w-100 p-0">
	<div class="container-fluid d-flex flex-column align-items-center h-100 p-0">
		<div class="jumbotron jumbotron-fluid bg-dark text-light my-auto mh-100 wvb-jumbotron">
			<div class="container">
				<div class="row">
					<div style="font-family: 'Kaushan Script', cursive;" class="col display-4">Beelden</div>
					<div class="w-100"></div>
					<div class="col"><h4>Willem van Beek</h4></div>
				</div>
				<hr class="my-4 bg-light">
			</div>
		</div>

	</div>
</div>

<div id="introductie" class="w-100 vh-100">
	<div class="container mt-5">
		<p class="text-white">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus vitae congue mauris. Tempor commodo ullamcorper a lacus vestibulum sed. Ullamcorper morbi tincidunt ornare massa. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Tortor aliquam nulla facilisi cras. Risus in hendrerit gravida rutrum quisque non. Tristique risus nec feugiat in. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Tempor orci dapibus ultrices in iaculis. Libero enim sed faucibus turpis. At auctor urna nunc id cursus metus aliquam eleifend mi. Tristique senectus et netus et. Ullamcorper velit sed ullamcorper morbi. A condimentum vitae sapien pellentesque habitant morbi tristique senectus et.<br><br>

		Morbi quis commodo odio aenean sed adipiscing. Tellus orci ac auctor augue mauris augue neque. Vestibulum lorem sed risus ultricies tristique. Neque convallis a cras semper auctor neque. Justo laoreet sit amet cursus sit amet dictum sit. Nunc mattis enim ut tellus elementum sagittis vitae. Mattis nunc sed blandit libero volutpat. Morbi non arcu risus quis varius quam quisque id. Nunc lobortis mattis aliquam faucibus purus in. Felis eget velit aliquet sagittis id. Leo a diam sollicitudin tempor id eu nisl nunc. Augue mauris augue neque gravida in fermentum.<br><br>

Massa tincidunt dui ut ornare lectus. Ornare lectus sit amet est placerat in. Sit amet mauris commodo quis imperdiet massa. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Varius quam quisque id diam vel quam elementum. Non odio euismod lacinia at quis risus sed vulputate. Lacus viverra vitae congue eu. Quisque sagittis purus sit amet volutpat. Nec feugiat nisl pretium fusce id. Placerat orci nulla pellentesque dignissim enim. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Amet aliquam id diam maecenas. In dictum non consectetur a. Neque vitae tempus quam pellentesque nec nam. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Nam libero justo laoreet sit. Posuere ac ut consequat semper viverra nam libero justo laoreet. Odio morbi quis commodo odio aenean sed.<br><br>

Gravida quis blandit turpis cursus in hac. Sem viverra aliquet eget sit amet tellus. Eleifend mi in nulla posuere. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Urna condimentum mattis pellentesque id nibh tortor id. At varius vel pharetra vel turpis. Scelerisque felis imperdiet proin fermentum leo vel orci. Egestas dui id ornare arcu odio. Sit amet porttitor eget dolor morbi. Commodo quis imperdiet massa tincidunt nunc. Donec ac odio tempor orci dapibus ultrices in iaculis. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Vitae et leo duis ut. Quis ipsum suspendisse ultrices gravida dictum. Eget egestas purus viverra accumsan in nisl nisi. Tellus elementum sagittis vitae et leo duis. Facilisis volutpat est velit egestas dui id. Augue neque gravida in fermentum.<br><br>

Fames ac turpis egestas sed tempus urna et. Platea dictumst vestibulum rhoncus est pellentesque. Lacinia at quis risus sed vulputate odio ut enim blandit. Enim nunc faucibus a pellentesque sit amet. Sed nisi lacus sed viverra. Odio ut sem nulla pharetra diam sit amet nisl. Nulla facilisi nullam vehicula ipsum a arcu. Gravida arcu ac tortor dignissim convallis aenean et. Sit amet cursus sit amet dictum sit amet justo donec. Congue eu consequat ac felis donec et odio pellentesque diam. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Amet nisl purus in mollis nunc. Justo nec ultrices dui sapien eget mi proin sed. Dignissim suspendisse in est ante in. Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla.<br><br>
		</p>
	</div>
</div>

{{end}}
