{{define "header"}}
<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">

		<script src="/res/js/jquery-3.4.1.min.js"></script>
		<script src="/res/js/bootstrap.bundle.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/res/css/main.css">

		<link rel="stylesheet" type="text/css" href="/res/icons/open-iconic/font/css/open-iconic.min.css">
		<link rel="stylesheet" type="text/css" href="/res/icons/open-iconic/font/css/open-iconic-bootstrap.min.css">

		<title>{{.Title}}</title>
	</head>

	<body>
		{{template "navbar" .}}
{{end}}
