{{template "header" .}}

<link rel="stylesheet" type="text/css" href="/res/css/opt1/index.css">

<div class="wvb-background"></div>
<div class="container-fluid h-100 w-100 p-0">
	<div class="container-fluid d-flex flex-column align-items-center h-100 p-0">
		<div class="jumbotron jumbotron-fluid bg-dark text-light my-auto mh-100 wvb-jumbotron">
			<div class="container">
				<div class="row">
					<div class="col display-4">Beelden</div>
					<div class="w-100"></div>
					<div class="col"><h4>Willem van Beek</h4></div>
				</div>
				<hr class="my-4 bg-light">
				<a class="btn btn-primary btn-md" href="/introductie" role="button">Introductie</a>
			</div>
		</div>

	</div>
</div>

{{template "footer" .}}
