{{template "header" .}}

<link rel="stylesheet" type="text/css" href="/res/css/opt1/index.css">

<div class="wvb-background"></div>
<div class="container-fluid w-100 h-100">
	<div class="jumbotron jumbotron-fluid bg-dark text-light border border-secondary mt-5 wvb-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col display-4">Beelden</div>
				<div class="w-100"></div>
				<div class="col"><h4>Willem van Beek</h4></div>
			</div>
			<hr class="my-4 bg-light">
			<a class="btn btn-primary btn-md" href="/introductie" role="button">Introductie</a>
		</div>
	</div>

</div>

{{template "footer" .}}
