{{template "header" .}}

<link rel="stylesheet" type="text/css" href="/rel/css/opt1/index.css"/>

<div class="container-fluid d-flex flex-column mh-100 h-100 p-0">
	<div class="w-100" style="min-height: 3.5rem;"></div>
	<div class="carousel slide align-self-center mw-100 mh-100 w-100 h-100" id="wvb-carousel" data-ride="carousel">
		<ol class="carousel-indicators">
			{{range $index, $data := .Images}}
			<li data-target="#wvb-carousel"
			    data-slide-to="{{$index}}"{{if eq $index 0}} class="active"{{end}}></li>
			{{end}}
		</ol>
		<div class="carousel-inner mh-100 h-100">
			{{range $index, $data := .Images}}
			<div class="carousel-item h-100 mh-100{{if eq $index 0}} active{{end}}">
				<div class="container my-auto mh-100 h-100"
				     style="background-image: url('{{$data}}');
				     background-size: contain;
				     background-repeat: no-repeat;
				     background-position: center center;">
					<!--<img src="{{$data}}" class="mh-100 mw-100">-->
				</div>
				<div class="carousel-caption d-none d-block">
					<h5>{{index $.ImgLabel $index}}</h5>
					<p>{{index $.ImgDesc $index}}</p>
				</div>
			</div>
			{{end}}
		</div>

		<a class="carousel-control-prev" href="#wvb-carousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		</a>
		<a class="carousel-control-next" href="#wvb-carousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
		</a>
	</div>
</div>
{{template "footer" .}}
